<div class="container">
  <h2 id="left"><a routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="item" [routerLink]="['/events']">Мероприятия</a><br></h2>
  <h2 class="item">
    <img src="https://www.iconpacks.net/icons/2/free-location-icon-2955-thumb.png" alt="Location Icon" width="20px" height="20px">
    Алматы
  </h2>
  <h2 *ngIf="localStorage.getItem('logged')"><a routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="item" [routerLink]="['/profile']">Мой профиль</a><br></h2>
  <h2><a routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="item" id="right" [routerLink]="['/auth']">Войти/Зарегистрироваться</a><br></h2>
</div>
<router-outlet />
